github_organization: gazebosim
repositories:
- name: gz-common
  branches:
  - branch: main
    required_status_checks:
      contexts:
      - DCO
      - gz_common-ci-pr_any-homebrew-amd64
      - gz_common-ci-pr_any-noble-amd64
      - Ubuntu Noble CI
      - Validate package.xml
      - gz_common-pr-cnlwin
      strict: true
